# IDE
.vscode/
.idea/

# Node
node_modules/
dist/

# OS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Test files
packages/api/public
!packages/api/public/screens/*.png
!packages/api/public/colormap-2bit.png

# Uploads
packages/api/uploads

# Coverage
packages/api/coverage
packages/ui/coverage

# TSBuildinfo
packages/api/tsconfig.migrations.tsbuildinfo

# AI
.claude
.cursor
ralph/