name: kuroshiro
services:
  db:
    image: postgres:18-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${KUROSHIRO_POSTGRES_USER}
      POSTGRES_PASSWORD: ${KUROSHIRO_POSTGRES_PASSWORD}
      POSTGRES_DB: ${KUROSHIRO_POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d test"]
      interval: 5s
      timeout: 5s
      retries: 5
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
  app:
    build: .
#    image: ghcr.io/phyberapex/kuroshiro:latest
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - '80:${KUROSHIRO_PORT}'
    environment:
      KUROSHIRO_PORT: ${KUROSHIRO_PORT}
      KUROSHIRO_API_URL: ${KUROSHIRO_API_URL}
      KUROSHIRO_DB_HOST: db
      KUROSHIRO_DB_PORT: ${KUROSHIRO_POSTGRES_PORT}
      KUROSHIRO_DB_USER: ${KUROSHIRO_POSTGRES_USER}
      KUROSHIRO_DB_PASSWORD: ${KUROSHIRO_POSTGRES_PASSWORD}
      KUROSHIRO_DB_DB: ${KUROSHIRO_POSTGRES_DB}
#    volumes:
#      - kuroshiro_data:/app/public/screens/devices
volumes:
  postgres_data:
  kuroshiro_data: